.container {
  height: 400px;
  width: 350px;
  overflow:scroll;
  background: #FCFCFC;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display:flex;
  align-items: center;
}

.logo {
  height: 60px;
  width: 60px;

  margin-left: 15px;

}

.desc {
  color: #023C48;
  font-size: 22px; 
  font-weight: bold;
  word-wrap: break-word;
  width: 180px;
  margin-left: 5px;
}

.switch {
  margin-left: 12px;
  margin-bottom: 8px;
  size: 50%;
}

.section {
  margin-top: 10px;
  border-bottom: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  line-height: 8px;
}

.second-slider {
  border-top: 1px solid #d1d1d1;

  border-bottom: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  padding-left : 10px;
  line-height: 8px;
  background-color: #FCFCFC;
  padding-right: 10px; 
}

.drop-section {
  border-bottom: 1px solid #d1d1d1;
  line-height: 8px;
  display: flex;
  align-items: center;
  background-color: #FCFCFC;
  max-width: 100%;
}

.drop-section > div:first-child {
  flex: 1;
}

.setting {
  font-size: 20px;
  font-weight: 400;
  color:grey;
}

.round {
  width: 30px;
}

.setting-desc {
  font-size: 14px;
  font-weight: 200;


}

.divider {

  font-weight: 200;
  padding: 10px;
  background-color: #FCFCFC;
  margin-top: 10px;
  border-bottom: 1px solid #d1d1d1;

}

.anim {
  background-position: center;
  transition: background 0.8s;
}
.anim:hover {
  background: #47a7f5 radial-gradient(circle, transparent -1%, #47a7f5 -1%) center/15000%;
}
.anim:active {
  background-size: 100%;
  color:grey;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  cursor: pointer;
  outline: none;

  width: 100%;
	padding-bottom: 100%;
  border-radius: 50%;
  overflow:hidden;
  background:grey;
  margin-left: 30px;
  border: 1px solid grey;
}

