$primary: #35b9e6;
$highlight: rgba(53, 185, 230, 0.5);
$dark: #7f7f7f;
$white: #fff;
$black: rgba(255,255,255,0);
$shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);

.what-selection {
  background: linear-gradient(180deg, $black 50%, $highlight 50%);
  z-index: 999;
  transition: all 0.5s;

  span {
    display: none;
  }
}

div#what-single-word {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  display: none;
  background: $white;
  box-shadow: $shadow;
  padding: 10px 20px;
  max-width: 300px;
  line-height: 22px;
  font-size: 15px;
  border-radius: 10px;
  z-index: 9999;
  transition: all 0.5s;
}